@model Recipe

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Recipe</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="@Model.Id" hidden />
            <input asp-for="@Model.ApplicationUserId" hidden />
            <input asp-for="@Model.Approved" hidden />
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">

                        <div class="row mb-3">
                            <label asp-for="@Model.Title" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="@Model.Title" class="form-control" />
                            </div>
                            <span asp-validation-for="@Model.Title" class="text-danger"></span>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">
                                Products
                            </label>
                            <div class="col-sm-10">
                                <select id="productSelect" data-placeholder="Select options" multiple="multiple" data-multi-select></select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="@Model.Description" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <textarea asp-for="@Model.Description" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-6 col-md-2">
                                
                            </div>

                            <div class="col-6 col-md-3">
                                <a asp-area="Customer" asp-controller="Recipe" asp-action="SaveDraft" class="btn btn-primary form-control">
                                    Save draft
                                </a>
                            </div>

                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-success form-control">
                                    Submit
                                </button>
                            </div>

                            <div class="col-6 col-md-3">
                                <a asp-area="Customer" asp-controller="Recipe" asp-action="Back" class="btn btn-secondary form-control">
                                    Back
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>

    <script type="text/javascript">
        $.ajax({
            url: '/admin/product/getall',
            type: 'GET',
            success: function (data) {
                new MultiSelect(document.getElementById('productSelect'), {
                    data: data.data.map(el => ({
                        value: el.id,
                        text: el.name
                    })),
                    placeholder: 'Select options',
                    search: true,
                    onChange: function (productId, text, element) { },
                    onSelect: function (productId, text, element) {
                        addProduct(productId, @Model.Id);
                    },
                    onUnselect: function (productId, text, element) {
                        removeProduct(productId, @Model.Id);
                    }
                });
            },
            error: function (xhr, status, error) {
                console.error("An error occurred: " + status + " " + error);
            }
        });

        function addProduct(productId, fridgeId) {
            $.ajax({
                url: '@Url.Action("AddProduct", "Recipe")',
                type: 'POST',
                data: { productId: productId, fridgeId: fridgeId },
                success: function (response) { },
                error: function (xhr, status, error) {
                    console.error("An error occurred: " + status + " " + error);
                }
            });
        }

        function removeProduct(productId, fridgeId) {
            $.ajax({
                url: '@Url.Action("RemoveProduct", "Recipe")',
                type: 'POST',
                data: { productId: productId, fridgeId: fridgeId },
                success: function (response) { },
                error: function (xhr, status, error) {
                    console.error("An error occurred: " + status + " " + error);
                }
            });
        }
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}